# Read the Tourism data for Data Cleaning from kaggle
# https://www.kaggle.com/datasets/umeradnaan/tourism-dataset

In [1]:
import pandas as pd

In [8]:
tourism_data = pd.read_csv("tourism_dataset.csv")

In [9]:
print(tourism_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5989 entries, 0 to 5988
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Location                 5989 non-null   object
 1   Country                  5989 non-null   object
 2   Category                 5989 non-null   object
 3   Visitors                 5989 non-null   int64
 4   Rating                   5989 non-null   float64
 5   Revenue                  5989 non-null   float64
 6   Accommodation_Available  5989 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 327.7+ KB
None

In [11]:
print(tourism_data.head(10))

     Location    Country    Category  Visitors  Rating    Revenue  \
0  kuBZRkVsAR      India      Nature    948853    1.32   84388.38
1  aHKUXhjzTo        USA  Historical    813627    2.01  802625.60
2  dlrdYtJFTA     Brazil      Nature    508673    1.42  338777.11
3  DxmlzdGkHK     Brazil  Historical    623329    1.09  295183.60
4  WJCCQlepnz     France    Cultural    124867    1.43  547893.24
5  IKdhVWFKRc      Egypt    Cultural    389886    2.19  943411.34
6  TKEPcTbQFY      China       Beach    416933    3.92  744983.22
7  TjmJpYuNne      China  Historical    652046    2.50  796172.02
8  OcCopAsiyJ  Australia    Cultural     59309    4.10  588988.55
9  pXDJPYzTeU      India   Adventure    319068    1.98  239590.44

  Accommodation_Available
0                     Yes
1                      No
2                     Yes
3                     Yes
4                      No
5                     Yes
6                     Yes
7                     Yes
8                     Yes
9                      No

In [ ]:
# remove duplicate rows

In [14]:
duplicate = tourism_data.duplicated().sum()

In [15]:
print(duplicate)

0

In [16]:
# no duplicate data 
# to remove duplicate code snippet
# tourism_data.drop_duplicates(inplace=True)

In [17]:
# missing values
missing_values = tourism_data.isna().sum()
print(missing_values)

Location                   0
Country                    0
Category                   0
Visitors                   0
Rating                     0
Revenue                    0
Accommodation_Available    0
dtype: int64

In [18]:
print(tourism_data.describe())

            Visitors       Rating        Revenue
count    5989.000000  5989.000000    5989.000000
mean   501016.089497     3.009347  499479.367253
std    289783.294978     1.155980  286743.225211
min      1108.000000     1.000000    1025.810000
25%    252789.000000     2.010000  251410.450000
50%    500831.000000     3.000000  494169.350000
75%    751371.000000     4.010000  742241.240000
max    999982.000000     5.000000  999999.490000